<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Welcome screen</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	</div>

	<div th:if="${login != null}">
		<div align="left">
			Welcome <b> <label th:text="${login.name} "></label></b></br>
			</br>
		</div>
		<div align="left">
			<table border="0">
				<thead>
					<tr>
						<th>Continue watching</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${watchList.empty}">
						<td colspan="2">No Movies Available</td>
					</tr>
					<tr>
						<td th:each="watchData : ${watchList}"><iframe width="560"
								height="315"
								th:src="@{{url}(url=${watchData.link}, start=${watchData.link})}"
								frameborder="1" alt="no video attached" allowfullscreen="0"></iframe>

						</td>
					</tr>

				</tbody>
			</table>
		</div>

		<div align="left">
			</br>
			</br>
			<table border="0">
				<thead>
					<tr>
						<th>You may like these</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${recommendedList.empty}">
						<td colspan="2">No Movies Available</td>
					</tr>
					<tr>
					<td th:each="watchRData : ${recommendedList}">
						<iframe width="560" height="315"
								th:src="@{{url}(url=${watchRData.link}, start=${watchRData.link})}"
								frameborder="1" alt="no video attached" allowfullscreen="0"></iframe>
								</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div th:if="${login == null}">
		Welcome User, Please login with valid credentials. <a
			href="http://localhost:8081/login"> Login Here</a></br>
		</br>
		<div align="left">
			<table border="1">
				<thead>
					<tr>
						<th>You may like these</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${recommendedList.empty}">
						<td colspan="2">No Movies Available</td>
					</tr>
					<tr>
					<td th:each="watchRData : ${recommendedList}">
					<iframe width="560" height="315"
								th:src="@{{url}(url=${watchRData.link}, start=${watchRData.link})}"
								frameborder="1" alt="no video attached" allowfullscreen="0"></iframe>
								</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>